<section>
    <h2>Messages</h2>
    <ul>
        <% messages.forEach((message)=> { %>
            <li>
                <h3>
                    <%= message.text %>
                </h3>
                <p>
                    <%= message.user %>
                </p>
                <p>
                    <small>
                        <%= message.added %>
                    </small>
                </p>
                <button type="button"><a href="/message/<%= message.id %>">Open</a></button>
            </li>
            <hr />
        <% }) %>
    </ul>
</section>