<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>
    <div>
        <a href="/new">Add New Message</a>
    </div>
    <%- include('../partials/allMessagesSection') %>
</main>
<%- include('../partials/footer') %>
